
* {
    box-sizing: border-box;
  }


  /* Create two unequal columns that floats next to each other */
  .map .column {
    float: left;
    padding: 1px;
    height: 500px;
     /* Should be removed. Only for demonstration */
   
  }

  
  .map .left {
    width: 30%;
  }
  
  .map .right {
    width: 70%;
    background-image: url("vbspulocation.png");
    background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

  }
  
  /* Clear floats after the columns */
  .map .row:after {
    content: "";
    display: table; 
    clear: both;
  }
  .map .column p {
      color: black;
  }
 .map .column h2{
   color: black;
 }

  /*fot about the  university */
  .map .universityabout{
    text-align: center;
    margin-top: 20%;
    box-sizing: border-box ;
    border-radius: 40px;
    
    
  


    display: grid;
    justify-content: left;
    align-content: center;
    background-color:initial;
    width: 600px;
    border: 0px solid rgb(6, 24, 128);
    padding: 1px;
   
    
    
  

    
  }
.map .universityabout h2{
   color: rgb(100, 91, 91);
   background-color: inherit;
   border: 20px;
   padding: 10px;
   text-align: left;
   font-size: 42px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
  

}
              
 .map .universityabout #unipag{
  display: none;
}


 .map .login{
   
    display: flex;
    justify-content: left;
    align-content: center;
    background-color:initial;
    width: 100%;
    border: 0px solid rgb(6, 24, 128);
    padding: 1px;
    margin: 1px;
    
    
    }

    .map .button {
      display: inline-block;
      border-radius: 40px;
     
      background: linear-gradient(299.24deg , #ffffff 23.9%, #b4b3b1 100%);
      border: none;
      color: #130c74;
      text-align: center;
      font-size: 20px;
      padding: 15px;
      width: 250px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
      border: 1px solid rgb(145, 16, 7);
      margin-left: 150px;
      margin-top: 50px;
      
      
    }
    
    .map .button span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }
    
    .map .button span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
    
    .map .button:hover span {
      padding-right: 25px;
    }
    
    .map .button:hover span:after {
      opacity: 1;
      right: 0;
    }


    
    .map .button:hover  {
    border-color: #0b58b1;
    color: rgb(0, 0, 0);
     background: linear-gradient(to right, #777474 -10%, #ffffff 100%);
      
  }





  @media screen and (max-width: 600px) {
   .map .column {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 900px) {
    
     .map .login{
      justify-content: center;
     }
     .map .button{
       margin-left: 0px;
     }
     .map .universityabout{
      width: 100%;
      
    }
     
   }
   @media screen and (max-width: 600px) {

    .map .left {
      width: 0%;
      display: none;
    }
    
    .map .right {
      width: 100%;
      background-image: none;
      background: linear-gradient(300.5deg , #b4b3b1 23.9%, #ffffff 100%);
      
    }
    .map .universityabout #unipag{
      display: block;
      margin-top: 20px;
    }

    .map .universityabout{
      width: 100%;
      margin-top: 2%;
    }

   }
   