.notificationrow :after{
    content: "";
  display: table;
  clear: both;

}
.norifcationcoloum{
   
  padding: 20px;
  float: left;
  height: 400px;
  
  background: linear-gradient(to right, #ffffff -10%, #dd1c1c 100%);
  

}
.norifcationleft{
  width: 75%;
}
.norifcationright{
  width: 25%;
}
.marquee {
    height: 300px;
     margin-top: 50px;
     width: 70%;
    overflow: hidden;
    position: relative;
    background: #ffffff;
    color: #333;
    border: 0px solid #9c4343;
    border-radius: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.marquee p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 20px;
    text-align: center;
    padding-top: 300px;
   
    -moz-animation: marquee 1s linear infinite;
    -webkit-animation: marquee 1s linear infinite;
    animation: marquee 10s linear infinite;
}




 
  @-moz-keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(0, -100%);
    }
  }
  @-webkit-keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(0, -100%);
    }
  }
  @keyframes marquee {
    0% {
      -moz-transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    100% {
      -moz-transform: translate(0, -100%);
      -webkit-transform: translate(0, -100%);
      transform: translate(0, -100%);
    }
  }



