@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap"); 


body{
    margin: 0;
}

.section1{
    display: grid;
    height: 400px;
    width: auto;
    box-sizing: content-box;
    
    padding: 0px;
    margin: 0px;
    
    background: linear-gradient(to right, #e4a29d -10%, #5f0505 100%);
    


}
 

body {  
 font-family: "Open Sans", sans-serif;  

}  
.slider-container {  
 position: relative;  
 overflow: hidden;  
 width: 100%;  
 height: 100%; 
 max-height: 100%; 
}  
.left-slide {  
 height: 100%;  
 width: 35%;  
 position: absolute;  
 top: 0;  
 left: 0;  
 transition: transform 0.5s ease-in-out; 
  
}  
.left-slide > div {  
 height: 100%;  
 width: 100%;  
 display: flex;  
 flex-direction: column;  
 align-items: left;  
 justify-content: center;  
 color: rgb(27, 5, 5);  
}  
.left-slide h1 {  
 font-size: 40px;  
 margin-bottom: 1px;  
 margin-top: -30px;
 margin-left: 15px;  
}  
.right-slide {  
 height: 100%;  
 position: absolute;  
 top: 0;  
 left: 35%;  
 width: 65%;  
 transition: transform 0.5s ease-in-out;  
}  
.right-slide > div {  
 background-repeat: no-repeat;  
 background-size: cover;  
 background-position: center center;  
 height: 100%;  
 width: 100%;  
}  
button {  
 background-color: #fff;  
 border: none;  
 color: #aaa;  
 cursor: pointer;  
 font-size: 16px;  
 padding: 15px;  
}  
button:hover {  
 color: #222;  
}  
button:focus {  
 outline: none;  
}  
.slider-container .action-buttons button {  
 position: absolute;  
 left: 35%;  
 top: 50%;  
 z-index: 100;  
}  
.slider-container .action-buttons .down-button {  
 transform: translateX(-100%);  
 border-top-left-radius: 5px;  
 border-bottom-left-radius: 5px;  
}  
.slider-container .action-buttons .up-button {  
 transform: translateY(-100%);  
 border-top-right-radius: 5px;  
 border-bottom-right-radius: 5px;  
}  



/*this is created by me */





#slide-text{
    font-size: 28px;
    margin-left: 15px;
}

.know{
    border: 2px solid rgb(15, 3, 3);
    background-color: rgba(7, 13, 46, 0.863);
    color: black;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.more{
    border-color: #ffffff;
    color: rgb(255, 255, 255);
  }
  
.more:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }

  .left-slide #leftdegree{
    font-size: 20px;
  }
  .left-slide #leftsidebutt{
    margin-left: 15px;
  }



#agri{
    background-image: url("agriculture.jpg");
    
    
}
#Law{
  background-image: url("LAW.jpg");
}


#management{
  background-image: url("management2.jpg");
  color: #222;
}
#Pharmacy{
  background-image: url("pharmacy.png");
}
#Engineering{
  background-image: url("ENGG.jpg");
}


 /* for section text */

 .agriculture{
      
       
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  color: rgb(255, 255, 255);


}
.agriculture p{
  margin-left: 100px;
  font-size: 40px;
}
.agriculture h1{
margin-left: 100px;
font-size: 50px;
}
.agriculture #slide-text{
    font-size: 28px;
    margin-left: 100px;
}
.agriculture #degreename{
  font-size: 20px;
  margin-left: 100px;
}
.agriculture hr{
  width:35%;
  text-align:left;
  margin-left:100px;
  height: 2px;
  border-width: 2px;
  color:gray;
  background-color:inherit;
}
















@media screen and (max-width: 900px) {


  .agriculture p {
    margin-left: 50px;
    font-size: 15px;
  
  }
  .agriculture h1{
  margin-left: 50px;
  font-size: 30px;
  }
  .agriculture hr{
  width: 50%;
  margin-left: 50px;
  
  }
  .agriculture #slide-text{
  font-size: 20px;
  margin-left: 50px;
  }
  .agriculture #degreename{
  font-size: 15px;
  margin-left: 50px;
  }
  button {  
  background-color: rgb(8, 10, 95);  
  border: 2px white;  
  color: rgb(255, 255, 255);  
  cursor: pointer;  
  font-size: 15px;  
  padding: 10px;  
  }
  
  .left-slide h1 {  
    font-size: 30px;
  
  }
  
  .left-slide #slide-text{
    font-size: 18px;
    
  }
.left-slide #leftdegree{
  font-size: 13px;
}

  }
















  @media screen and (max-width: 600px) {
    .section1{
      height: 300px;
    }
    .left-slide {
     width: 0%;
    } 
    .right-slide{
     left: 0%;
     width: 100%;
     }
.slider-container .action-buttons button {  
  position: absolute;  
  left: 160px;  
  top: 63%;  
  z-index: 100;  
 } 
 .slider-container .action-buttons .up-button {  
  transform: translateY(-45%);  
  }
  .agriculture p {
    margin-left: 10px;
    font-size: 15px;

}
.agriculture h1{
 margin-left: 10px;
 font-size: 30px;
}
.agriculture hr{
  width: 50%;
  margin-left: 10px;
  
}
.agriculture #slide-text{
  font-size: 20px;
  margin-left: 10px;
}
.agriculture #degreename{
  font-size: 15px;
  margin-left: 10px;
}
button {  
  background-color: rgb(8, 10, 95);  
  border: 2px white;  
  color: rgb(255, 255, 255);  
  cursor: pointer;  
  font-size: 15px;  
  padding: 10px;  
 }

 .slider-container .left-slide{
   display: none;
 }
}


@media screen and (max-width: 450px){
  .agriculture hr{
    width: 70%;
    
    
  }
}


