* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.row45 .mySlides {display: none;}
.row45 img {
    
     overflow: hidden;
     object-fit: cover;
     height: fit-content;
     display: block;
     width: 100%;
     height: 400px;
    
}

/* Slideshow container max-width: 100%;  vertical-align: middle; */
.row45 .slideshow-container {
  
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Caption text */
.row45 .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.row45 .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  
}

/* The dots/bullets/indicators */
.row45 .dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.row45 .active {
  background-color: #bd2626;
}

/* Fading animation */
.row45 .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
 .row45 .text {font-size: 11px}
}



/* now hear the start the  2 coloum grid layout css*/



body {
  margin:0;
  font-family:Arial
}

* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */


.row45 .column {
  float: left;
  padding: 1px;
  height: 400px; /* Should be removed. Only for demonstration */
}

.row45 .left {
  width: 40%;
}

.row45 .right {
  width: 60%;
}

/* Clear floats after the columns */
.row45 .row:after {
  content: "";
  display: table;
  clear: both;
}




/* now hear we make thwe i fram css*/




/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .row45 .column {
    width: 100%;
  }
}