* {
    box-sizing: border-box;
  }



  .engicolumn {

    
   height: 800px;
   
    /* Should be removed. Only for demonstration */
  }
  
  .engileft {
    width: 100%;
  }
  
  .engiright {
    width: 0%;
    display: none;
  }
  
  /* Clear floats after the columns */
  .engirow:after {
    content: "";
    display: table;
    clear: both;
  }





.engidocumentation{
    box-sizing: border-box;
   
    
    background-image: url(images/56.png) ,  linear-gradient(to right, #9d9d9d -10%, #ffffff 100%);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    
   
    
}
.engiabout{
    box-sizing: content-box;
    margin-left: 5%;
    margin-top: 5%;
    position: absolute;
    text-align: left;
    

}
.engiabout #mainname{
    color: #000000;
    font-size: 60px;
    margin: 1px;
   
    font-family: 'Noto Serif Oriya', serif;
    text-decoration-line: underline ;
    text-decoration-color: rgb(109, 108, 108);
    text-decoration-style: solid ;
    text-decoration-thickness: 2px ;
    
  
   
    
    
}

.engiabout #subname{
    color: #000000;
    font-size: 40px;
    font-weight: 200;
    margin-right: 20%;
}


hr {
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color:#9b9aa0;
    height: 3px;
    border-top: solid;
    border-radius: 10px;
    
    
  }




.namebackground{
    box-sizing: border-box;
    
    background : linear-gradient(to right, #8d8b8b -10%, #ffffff 100%);
    margin: 10px;
    width: 99%;
    padding: 33px;
    border-radius: 30px;
    opacity: 0.8;
    display: grid;
    overflow: hidden;
    position: relative;
    

}
.namebackground img{
  height: 150px;
 display: block;
 position: absolute;
 margin-left: 35%;
 margin-top: 20px;

 
 
  

}




@media screen and (max-width: 600px){
  .engiabout #subname{
    color: #000000;
    font-size: 20px;
    font-weight: 200;
}
.engiabout #mainname{
  color: #000000;
  font-size: 30px;
  margin: 1px;
 
}

.engicolumn {

    
  height: 500px;
}
.engiabout{
  
  margin-left: 2%;
  margin-top: 3%;
  
  

}
.namebackground img{
  height: 100px;
 
 margin-top: 20px;

 
 
  

}



}

@media screen and (max-width: 400px){

  .engiabout{
  
    margin-left: 0%;
    
    }


  .namebackground{
    margin-left: 1px;
  }



}
