#preloader{
    background: #ffff url(224.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-size: 150px;
    
    
}
@media screen and (max-width: 400px){
    #preloader{
        background-size: 100px;
}
}